@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  overflow: hidden;
  line-height: normal !important;
  font-size: 62.5% !important;
}

.container-coming-soon {
  width: 100vw !important;
  height: 100vh !important;
  background: linear-gradient(180deg, #6b0d03 0%, #3f0c06 55%, #0a0909 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
  flex-shrink: calc(10px);
}

.coming-soon-notified-txt {
  font-size: 1.8rem !important;
  color: #ffffff;
  /* padding-top: 60px; */
}

.coming-soon-notified-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 10px;
}

.comingsoon-not-input {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  padding: 10px 15px;
  color: #ffffff;
  font-weight: 500;
  border: 2px solid #3dd9ea;
  border-radius: 50px;
  font-size: 1.5rem !important;
}

::placeholder {
  color: #3dd9ea;
  font-size: 1.5rem !important;
}

.comingsoon-notif-icon {
  width: 45px;
  margin-left: 3px;
  transition: 0.2s ease-in-out;
}

.comingsoon-notif-icon:hover {
  filter: invert(67%) sepia(99%) saturate(327%) hue-rotate(136deg)
    brightness(95%) contrast(94%);
}

.comingsoon-contactus-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.comingsoon-contactus-div a {
  text-decoration: none;
  font-size: 2rem !important;
  font-weight: 600;
  color: #3dd9ea;
}

.comingsoon-socialmedia-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comingsoon-socialmedia-div img {
  padding: 0 10px;
  width: 50px;
  transition: 0.2s ease-in-out;
}

.comingsoon-socialmedia-div img:hover {
  filter: invert(67%) sepia(99%) saturate(327%) hue-rotate(136deg)
    brightness(95%) contrast(94%);
}

.coming-soon-copyright-txt {
  font-size: 1.5rem !important;
  color: #434344;
}

.coming-soon-countdown-txt {
  font-family: Audiowide !important;
  font-size: 6rem !important;
  color: #3dd9ea;
  margin-top: 50px;
}

.hidden {
  display: none;
}

/* ********************************************************************* */
figure {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: auto;
  margin-bottom: 60px;
}

svg {
  width: 350px;
}

svg > * {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0.85px;
}

/* hover tip */
figure:hover:after {
  /* content: "Hover to Slow Motion"; */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1vh;
  /* color: #1C1C1C; */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font: 700 9px/14px Tahoma, sans-serif;
  -moz-animation: tip 2.5s forwards;
  -webkit-animation: tip 2.5s forwards;
  animation: tip 2.5s forwards;
}

@-moz-keyframes tip {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  80% {
    opacity: 1;
  }
}
@-webkit-keyframes tip {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  80% {
    opacity: 1;
  }
}
@keyframes tip {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  80% {
    opacity: 1;
  }
}

/* ***********************MEDIA Query*********************** */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 450px) {
  * {
    font-size: 55% !important;
    overflow-y: hidden !important;
  }

  svg {
    width: 300px !important;
  }

  .container-coming-soon {
    height: auto;
    text-align: center;
    padding: 50px 50px;
  }

  .coming-soon-countdown-txt {
    font-size: 4.5rem !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 450px) and (max-width: 576px) {
  * {
    font-size: 55% !important;
    overflow-y: hidden !important;
  }

  svg {
    width: 300px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 768px) {
  * {
    font-size: 55% !important;
    overflow-y: scroll !important;
  }

  svg {
    width: 280px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  svg {
    width: 320px !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  svg {
    width: 350px !important;
  }
}
